{% extends 'website/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="col-md-11">
        {% for blog in blogs %}
            <div class="post">
                <a href="{% url 'website:post-detail' blog.pk %}">
                    <h3>
                        {{ blog.title }} - {{ blog.author }}
                    </h3>
                    <h4">
                        {{ blog.content }}
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}