.post {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.post > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post > a {
    color: #3c88ff;
}

.post > a:hover, .post > a:focus {
    text-decoration: none;
    color: #79b8ff;
}

.post-detail {
    background-color: #e8f6ff;
    border-radius: 15px;
    padding: 10px;
}