body {
    background-color: #E8E8E8;
}

.post {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post > a {
    color: #3c88ff;
}

.post > a:hover, .post > a:focus {
    text-decoration: none;
    color: #79b8ff;
}

.post-detail {
    background-color: #e8f6ff;
    border-radius: 15px;
    padding: 10px;
}

.navbar {
    border-radius: 0px;
}